.imgWrap1{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(118 ,118,118,0.9);
    z-index: 9998;

}
.largeImg{
    position: absolute;
   /* z-index: 9999;*/
    margin: auto;

}